body{
    background:  linear-gradient(
        90deg,
        rgb(178, 9, 220) 12%,
        rgba(6, 132, 216, 1) 100%
    );
}

.bar_width{
    width: 35%;
    height: 60px;
    color: black;
    background-color: white;
    margin: 0 auto
}

.rad{
    border: 1px solid white;
    border-radius: 4px;
}

.main{
    color: white;
}

.js{
    color: RGB(255, 229, 153);
}

.button{
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 4px;
}

#tasks {
  background-color: aliceblue;
  margin: 3% auto;
  padding: 2%;
  width: 40%;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}
